= form_for(zone) do |f|
  %div.create-new-cat
    %table.table_custom
      %tr
        %th
          = f.label :category, "Category :"
        %td
          = f.label session[:category_name], {:style => "font-weight: bold; font-size: 18px;"}
          = f.hidden_field :category_id, :value => session[:category_id]
          / = f.select(:category_id, Category.all.collect {|c| [ c.title, c.id ] }, {:selected => session[:category_id]})
      %tr
        %th
          = f.label :title, "Title :" 
        %td
          = f.text_field :title, {:placeholder => "Title Name...", :type => "text"}
      %tr
        %th
          = f.label :short_title, "Short Title :"
        %td
          = f.text_field :short_title, {:placeholder => "Short Title...", :type => "text"}
      %tr
        %th.duration
          = f.label :duration ,"Duration :" 
        %td
          = f.text_field :duration, {:placeholder => "Duration...", :type => "text"}
      %tr
        %th
          = f.label :cost_per_day, "Cost Per Day :"
                 
        %td
          = f.text_field :cost_per_day, {:placeholder => "Cost Per Day...", :type => "text" }
      %tr
        %th
          = f.label :klass_ids, "Class :"
        %td
          / = f.collection_select(:klass_ids, Klass.order(:name), :id, :name, {}, {multiple: true})
          / = f.collection_select(:klass_ids, @klass, :id, :name, { :selected => @course.klasses.count > 0 ? @course.klass_ids : nil}, {multiple: true})
          = f.collection_select(:klass_ids, Klass.find(:all, :conditions => [@course.id == nil ? "course_id Is NULL" : "course_id Is NULL Or course_id = #{@course.id}"], :order => :name), :id, :name, { :selected => @course.klasses.count > 0 ? @course.klass_ids : nil}, {multiple: true})

      %tr
        %th
          = f.label :textbook_ids, "Text Book :"
        %td
          = f.collection_select(:textbook_ids, Textbook.order(:title), :id, :title, {}, {multiple: true})

      %tr
        %th
          = f.label :tutor_ids, "Tutor :"
        %td
          = f.collection_select(:tutor_ids, Tutor.order(:first_name), :id, :full_name, {}, {multiple: true})

      %tr
        %th
          = f.label :summary, "Summary :"
        %td
          = f.text_area :summary, {:placeholder => "Summary...", :type => "text", :size => "0x5"}
      %tr
        %th
          = f.label :is_published, "Published :"
        %td
          = f.check_box :is_published
      %tr
        %th.action_update_rspec_save
          = submit_tag('Save' , :class => 'btn btn-success')
        %td
          = link_to "Back", category_path(session[:category_id]), :class =>'btn'

/ = form_for(zone) do |f|
/   .field 
/     = f.label :category
/     = f.select(:category_id, Category.all.collect {|c| [ c.title, c.id ] }, {:selected => session[:category_id]})

/   .field
/     = f.label :title
/     = f.text_field(:title)

/   .field
/     = f.label :short_title
/     = f.text_field(:short_title)

/   .field
/     = f.label :duration
/     = f.text_field(:duration)

/   .field
/     / = f.label :cost_per_day
/     = f.text_field(:cost_per_day)

/   .field
/     = f.label :summary
/     = f.text_field(:summary)

/   .field
/     = f.label :is_published
/     = f.check_box(:is_published)
/   .action
/     = submit_tag('Save')