/ assigned couse_id to the session
- session[:course_id] = params[:id]
- course = @course.title
%h2{:style => "margin-left:25px; text-shadow: 2px 2px 3px gray"} 
  Course Name : #{course}

= render "left_navigation_menu"

%form.form-container
  %fieldset
    %div{:style => "background-color:#EEEEEE; height:30px;"}
      %h4{:style => "padding:5px;"}
        Course Overview
    - day = "Days"
    - usd = ".USD"
    
    %table.block.table_custom.table.table-condensed
      %tr
        %th
          %b Short Title :
        %td
          =@course.short_title
      %tr
        %th
          %b Duration :
        %td
          = @course.duration
          %span
            #{day}
          %break 
      %tr
        %th
          %b Cost Per Day :
        %td
          = @course.cost_per_day
          %span
            #{usd}
          %break

      %tr
        %th 
          Class :
        %td
          = CourseClass(@course)

      %tr
        %th
          Text Book :
        %td
          / = @course.getCourseTextbook.html_safe
          = CourseTextbook(@course)

      %tr
        %th
          Tutor :
        %td
          = CourseTutor(@course)

      %tr
        %th
          %b Summary :
        %td
          = @course.summary
      %tr
        %th
          %b Published :
        %td
          = @course.is_published ? "Yes"  : "No"
    
    - i = 1
    %table.table_custom_obj.table.table-condensed   
      %tbody
        %tr
          %th{:style => "background-color:#EEEEEE; color:#3AA1BF "}
            Objectives of #{course}
      %table.table.table-hover  
        -@course.objectives.each do |objective| 
          %tr
            %th
              %b Objectives No.#{i} : 
            %td
              = objective.title
            %td#action_edit_objective
              = link_to "<i class = 'icon-edit'></i>".html_safe, edit_objective_path(objective), :title => 'Edit'
            %td#action_delete_objective
              = link_to "<i class = 'icon-remove'></i>".html_safe, objective_path(objective), :method => :delete, :data => { :confirm => "Are you sure to delete this objective?" }, :title => 'Delete'
          - i = i+1

  %hr
  = link_to "Create New Objective", new_objective_path(), :class =>'btn btn-info'
  = link_to "Back", category_path(session[:category_id]), :class =>'btn'