!!!
%html
  %head
    %title School Manament System
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:style => "background-color:#FFDD00;"}
    .yp_banner
      = image_tag("yp.png")
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? 'success' : 'error'}"}
          =msg 
      = yield
 
      

        