%h2 Class Form

= render "left_navigation_menu"

/ %div.list-course
%form.form-container_textbook
  %div{:style => "background-color:#E0E0E0; height:30px; text-align:center; box-shadow: 1px 1px 2px gray; width: 960px"}
    %h4{:style => "padding:5px;"}
      Class Information
  / %table.table.table-striped
  %div.float-left
    %table#rails-gen.display.table-custom-klass
      %thead
        %tr
          %th 
            Action
          %th 
            Class Name
          %th 
            Description
      %tbody
        - @klasses.each do |klass|
          %tr
            %td
              %span
                = link_to "<i class = 'icon-edit'></i>".html_safe, edit_klass_path(klass), :id => "edit_#{klass.id}", :title => "Edit"
              %span{:style => "padding-left:20px;"}
                = link_to "<i class = 'icon-remove'></i>".html_safe, klass_path(klass), :method => :delete, :data => {:confirm => "Are you sure to delete this class named '#{klass.name}'?" }, :id => "delete_#{klass.id}", :title => "Delete"
            %td
              = klass.name
            %td

    .div{:style => "; width: 900px;padding-top: 10px; text-align: left; padding-bottom: 10px;"}
      = link_to "New Class", new_klass_path, :class => 'btn btn-info', :style => "box-shadow: 1px 1px 2px gray; margin-left: 15px"
